@charset "utf-8";
 
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 2
   
   Author: Alexey Milovanov  
   Date: 2.20.2018
   18SP-COMP-166-800RL     
   
   Filename: wc_styles.css
 
   This file contains the layout styles and media
   queries used with sample pages from the Willet
   Creek Golf Course website.
 
*/
 
 
/* Import Design Styles */
 
@import url('wc_designs.css') screen;
 
 
 
/* Flex Layout Styles */
 
body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
 
#hole_list {
    flex-grow: 1;  
    flex-shrink: 3;
    flex-basis: 140px;
 
 
}
 
article {
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 341px; 
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;   
}
 
 
 
#stats  {
    flex-basis: 120px;
    flex-grow: 1;
    flex-shrink: 4;
}
 
#summary {
    flex-basis: 361px;
    flex-grow: 4;
    flex-shrink: 1;
}
 
aside {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;   
}  
 
aside > div {
    flex-basis: 180px;
    flex-grow: 1;
    flex-shrink: 1;
}  
   
 
 
/* =============================
    Mobile Styles: 0 - 480 pixels
   =============================
*/
@media only screen and (max-width:480px){
 
nav#hole_list {
    -webkit-order: 99; 
    order:99;
}
footer {
    -webkit-order: 100;
    order:100;
}  
 
nav.horizontal > ul {
    display:none;
}
 
nav.horizontal:hover ul {
    display:block;
}
aside {
    display:none;
}  
}
 
/* =================================================
    Tablet and Desktop Styles: 481 pixels and greater
   =================================================
*/
@media only screen and (min-width:481px){
 
a#navicon {
    display:none;
}  
 
nav.horizontal > ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;    
}  
nav.horizontal > ul > li {
    flex-basis:auto;
    flex-grow: 1;
    flex-shrink: 1;    
   
   
   
}